.title{
    display: flex;
    color: #2A2B3F;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 4rem;
    justify-content: center;
}

.linee{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.linee hr{
    margin: 30px;
}

.hehe{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.5%;
}

.sub-title{
    display: flex;
    color: #2A2B3F;
    font-size: 30px;
    margin: 50px 0 0 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: flex-start;
}

.inp-fields{
    display: flex;
    flex-direction: row;
}

.inp-fields div{
    display: flex;
    flex-direction: column;
}

.semi-input label{
    margin-bottom: 2rem;
}

.inp-fields input{
    width: 340px;
    height: 50px;
    padding: 0 10px ;
    border: none;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.25);
}

.button-saveCont{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.button-saveCont button{
    cursor: pointer;
    border: none;
    border-radius: 9px;
    width: 260px;
    height: 53px;
    font-size: 17px;
    transition: 0.3s;
    background-color: #E55771;
    color: white;
    font-weight: bold;
}