.semi_inp input{
        padding: 10px;
        border: none;
        border-radius: 9px;
        background: #FFF;
        box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.25);
}

.inp{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
}
.inps{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}